* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;

    overflow: hidden;

}

.pipe {
    width: 80px;
    position: absolute;
    bottom: 0;

    animation: pipe-animation 3s infinite linear;
}

@keyframes pipe-animation {
    from {
        right: -80px;

    }

    to {
        right: 100%; 

    }

}

.mario{
    width: 200px;
    position: absolute;
    bottom: 0;


}

@keyframes mario{
    

}